@import "../common.scss";

.signup {
    
  &.card {
    @include card-shadow;
    border-radius: 5%;
  }

  .password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 36px;
  }
}
