DB_URL=mongodb+srv://admin:<password>@cluster0.soeswwr.mongodb.net/test/?appName=Cluster0
DB_URL=mongodb+srv://admin:<password>@cluster0.soeswwr.mongodb.net/<db-name>/?appName=Cluster0
STRIPE_PUBLISHABLE_KEY=<STRIPE_PUBLISHABLE_KEY>
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>