DB_URL=mongodb+srv://admin:<password>@cluster0.soeswwr.mongodb.net/mongodbVSCodePlaygroundDB/?appName=Cluster0
DB_URL=mongodb+srv://admin:<password>@cluster0.soeswwr.mongodb.net/<db-name>/?appName=Cluster0
